*.DS_Store
*.log
.idea/*
.env
.config
.eslintcache
node_modules
_node_modules
licence.key
yarn-error.log
npm-debug.log*
dist/
coverage
cypress/videos
cypress/images
cypress/screenshots
/app/static/temp/
.vscode/
.Trash-0/
/server/certs/
.aws/*
*.iml
*.flamegraph/
.history/
.jest-cache/
lcov-report/
lcov.info
junit.xml

gl-license-management-*.*