html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background: #F3F3F3;
  overflow:auto;
}

body > div, body > div > div {
  height: 100%;
  display:flex;
  flex-direction:column;
}

.sidebar {
  border: 1px solid #000000;
  background: #673ab7;
}

.footer {
  border: 1px solid #000000;
  background: #616161;
}

.main {
  background: #fff;
  max-width:1200px;
  width:100%;
  font-family: 'Raleway';
}

