html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background: #EEF5FD;
  overflow:auto;
  font-family: "Raleway";
}

body > div, body > div > div {
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}

.sidebar {
  border: 1px solid #000000;
  background: #673ab7;
}

.footer {
  border: 1px solid #000000;
  background: #616161;
}

.main {
  background: #fff;
  max-width:1200px;
  width:100%;
  font-family: 'Raleway';
}

h1, h2 {
  font-size: 1.6rem;
  color:#636D78;
}

a {
  color: #0B7285;
  text-decoration: none;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 1s linear infinite forwards;
}
